@using webshop.Models;
@model List<Artikel>

@{
    ViewBag.Title = "Kleding - INTOSPORT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	
<div class="content">
	  <div class="contentbar">
	  <div class="sorteerdiv">Alle kleding</div>
	  <div class="pagediv"></div>
	  </div>

        @{foreach (Artikel a in Model) {  
		<div class="product">
			<a href="/kleding/artikel/@a.ID">
			<IMG SRC="@a.image" width="159px" alt="@a.merkNaam @a.naam" title="@a.merkNaam @a.naam"></a>
			<div class="producttitel">
            <strong>@a.merkNaam</strong><br>
			        @a.naam<br>
			<strong>EUR @a.prijs,- </strong>
			</div>
		</div>	
        }}

	</div>